.Bg-About{
  background: rgba(0,0,0, 0.3);
  margin: 0;
  padding: 0;
  height: 672px;
}
.Border{
  border: 1px solid;
  position: absolute;
  left: 35%;
  top: 25%;
  padding: 27px;
  background: #ffffff;
  text-align: center;
}
.Border:hover{
  box-shadow: 0px 0px 32px 1px rgba(255,255,255,1);
}
.Back{
  margin-top: 30px;
}
.Back-About{
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
  border: 2px solid #2bb9b2;
  border-radius: 8px;
  color: #003a66;
  font-family: 'Righteous', cursive;
}
.Back-About:hover{
  box-shadow: 0px 0px 32px 1px rgb(114, 164, 255);
}