

.Bg-header{
  background: url("https://propertytimes.com.ua/uploaded/1-Klu/415%20(1).jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  height: 600px;
  background-size: 98em;
}

.Opacity{
  height: 598px;
  background: rgba(0, 0, 0, 0.7);
}
header{
  background: rgba(255, 255, 255, 0.6);
}
.logo a::before{
  content: '';
  background: url(https://image.flaticon.com/icons/png/512/46/46349.png) 0, 0;
  background-repeat: no-repeat;
  background-size: 66px;
  width: 100%;
  height: 54px;
  display: block;
}
.logo{
  display: inline-block;
  width: 73px;
  margin: 25px;
}

.Title{
  margin-top: 7em;
  font-size: 45px;
  width: 10em;
  margin-left: 5.5em;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Righteous', cursive;
}
.Title:hover{
  box-shadow: 0px 0px 32px 1px rgba(255,255,255,1);
  transition: all 1.5s;
}