@import url('https://fonts.googleapis.com/css?family=Righteous');

.container{
  width: 980px;
  margin: 0 auto;
}
nav{
  display: inline-block;
  float: right;
  margin-top: 33px;
  margin-right: 60px;
}
.Ul-nav{
  margin: 0;
  padding: 0;
  margin-right: 20px;
  margin-top: 7px;

}
.Ul-nav li{
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}

.Ul-nav li a{
  font-family: 'Righteous', cursive;
  font-size: 23px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
.Ul-nav li a:hover{
  color: #ffffff;
  text-shadow: 1px 0px 16px #13127b;
  transition: all 0.8s;
  border-bottom: 1px solid royalblue;
}